.dashboard-section .link{
    text-decoration:none;
    color:#000;
}
.dashboard-section{
    margin-top:5vh;
    border-right:1px #ddd solid;
}
.dashboard-section .bullet{
    width:.5vw;
    height:.5vw;
    border-radius:.5vw;
    background:#ddd;
    margin:auto;
}
.dashboard-section .profile-image{
    width:10vw;
    height:10vw;
    border-radius:10vw;
    margin:0 auto 2vh auto;
    border:10px rgb(8, 169, 169) solid;
    animation-name:profile;
    animation-duration:3s;
    animation-iteration-count:infinite;
    display:block;
}
.dashboard-section .name{
    font-size:1.25vw;
    text-transform:uppercase;
    font-weight:bolder;
    text-align:center;
    margin:0!important;
    display:block;
    padding:0!important;
}
.dashboard-section .name .surname{
    color:teal;
}
.dashboard-section .profile{
    text-align:center;
}
.dashboard-section .profile .value{
    font-size:.9vw;
    margin:0!important;
    padding:0!important;
}

.dashboard-section .extras{
    padding:0;
    width:80%;
    margin:2.5vh auto 0 auto;
    border-top:1px #ddd solid;
    border-bottom:1px #ddd solid;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.dashboard-section .extras div{
    text-align:center;
    padding:0!important;
    margin:0!important;
}
.dashboard-section .extras img{
    width:2vw;
    margin:0!important;
    cursor:pointer;
}


.dashboard-section .logout{
    font-size:.9vw;
    color:#f00;
    text-align:center;
    padding:2.5vh 0;
    margin:0;
    cursor:pointer;
}
.dashboard-section .logout img{
    width:1vw;
}

.dashboard-section .reset-password{
    font-size:.9vw;
    color:teal;
    text-align:center;
    padding:2.5vh 0;
    margin:0;
    cursor:pointer;
}
.dashboard-section .reset-password img{
    width:1vw;
}

.dashboard-section .forgot-password{
    font-size:.9vw;
    color:#f00;
    text-align:center;
    padding:0 1.5vw;
    margin:0;
    height:0;
    overflow-y:hidden;
    background:#fff;
    transition:.5s ease-in-out all;
}
.dashboard-section .open-forgot-password{
    font-size:.9vw;
    color:#f00;
    text-align:center;
    padding:0 1.5vw;
    margin:0;
    height:auto;
    overflow-y:hidden;
    background:#fff;
    transition:.5s ease-in-out all;
}
.dashboard-section .forgot-password input{
    width:100%;
    border:none;
    border-bottom:1px teal solid;
    margin-bottom:1vh;
}
.dashboard-section .forgot-password button{
    background:teal;
    border-radius:6px;
    padding:.5vh 2vw;
    color:#fff;
}


.dashboard-section .text-chat-open{
    display:block;
}
.dashboard-section .text-chat-close{
    display:none;
}
.dashbaord-section .chat{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}

.dashboard-section .chat .background{
    background:rgba(0,0,0,.9);
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}
.dashboard-section .chat .container .close{
    position:absolute;
    cursor:pointer;
    right:20px;
    top:15px;
}
.dashboard-section .chat .container{
    background:#fff;
    border-radius:4px;
    width:70vw;
    height:80vh;
    position:fixed;
    z-index:100;
    top:10vh;
    left:15vw;
    overflow-y:scroll;
}
.dashboard-section .chat .container .title{
    font-size:20px;
    font-weight:bolder;
    margin:0 0 20px 50px;
}
.dashboard-section .chat .container .email{
    font-size:10px;
}
.dashboard-section .chat .container .name{
    font-size:14px;
    font-weight:bolder;
}
.dashboard-section .chat .container .content{
    margin-top:50px;
}
.dashboard-section .chat .container .content .list{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
.dashboard-section .chat .container .content .list .item{
    text-align:center;
    margin-bottom:20px;
    padding:0 10px;
}
.dashboard-section .chat .container .content .list .item .picture{
    width:100px;
    height:100px;
    border-radius:100px;
    background:grey;
    margin:0 auto 5px auto;
    position:relative;
}
.dashboard-section .chat .container .content .list .item .picture .online{
    width:15px;
    height:15px;
    border-radius:15px;
    background:green;
    position:absolute;
    bottom:10px;
    right:7px;
    border:2px #fff solid;
}


@keyframes profile {
    0%   {border:5px rgb(8, 169, 169) solid;}
    50% {border:1px rgb(8, 169, 169) solid;}
    100%   {border:5px rgb(8, 169, 169) solid;}
}

/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */
/* break */

/* mobile screen */
@media screen and (max-width:600px){
    .dashboard-page{
        margin-top:10vh;
        border-right:1px #ddd solid;
    }
    .dashboard-page .bullet{
        width:.5vw;
        height:.5vw;
        border-radius:.5vw;
        background:#ddd;
        margin:auto;
    }
    .dashboard-page .profile-image{
        width:50vw;
        height:50vw;
        border-radius:50vw;
        margin:0 auto 2vh auto;
        border:10px rgb(8, 169, 169) solid;
        animation-name:profile;
        animation-duration:3s;
        animation-iteration-count:infinite;
        display:block;
    }
    .dashboard-page .name{
        font-size:10vw;
        text-transform:uppercase;
        font-weight:bolder;
        text-align:center;
        margin:0!important;
        display:block;
        padding:0!important;
    }
    .dashboard-page .name .surname{
        color:teal;
    }
    .dashboard-page .profile{
        text-align:center;
    }
    .dashboard-page .profile .value{
        font-size:3vw;
        margin:0!important;
        padding:0!important;
    }

    .dashboard-page .extras{
        padding:3vh 0;
        width:80%;
        margin:2.5vh auto 0 auto;
        border-top:1px #ddd solid;
        border-bottom:1px #ddd solid;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    .dashboard-page .extras div{
        text-align:center;
        padding:0!important;
        margin:0!important;
    }
    .dashboard-page .extras img{
        width:50%;
        margin:0!important;
    }


    .dashboard-page .logout{
        font-size:3vw;
        color:#f00;
        text-align:center;
        padding:2.5vh 0;
        margin:0;
    }
    .dashboard-page .logout img{
        width:3vw;
        margin-right:1vw;
    }

    .dashboard-page .reset-password{
        font-size:3vw;
        color:teal;
        text-align:center;
        padding:2.5vh 0;
        margin:0;
    }
    .dashboard-page .reset-password img{
        width:3vw;
        margin-right:1vw;
    }
    
    .dashboard-page .forgot-password{
        font-size:.9vw;
        color:#f00;
        text-align:center;
        padding:0 1.5vw;
        margin:0 0 5vh 0;
        height:0;
        overflow-y:hidden;
        background:#fff;
        transition:.5s ease-in-out all;
    }
    .dashboard-page .open-forgot-password{
        font-size:2.5vw;
        color:#f00;
        text-align:center;
        padding:0 10vw;
        margin:0;
        height:auto;
        overflow-y:hidden;
        background:#fff;
        transition:.5s ease-in-out all;
    }
    .dashboard-page .forgot-password input{
        width:100%;
        border:none;
        border-bottom:1px teal solid;
        margin-bottom:1vh;
    }
    .dashboard-page .forgot-password button{
        background:teal;
        border-radius:2px;
        padding:1vh 2vw;
        color:#fff;
        width:100%;
        margin-bottom:5vh;
    }

    @keyframes profile {
        0%   {border:5px rgb(8, 169, 169) solid;}
        50% {border:1px rgb(8, 169, 169) solid;}
        100%   {border:5px rgb(8, 169, 169) solid;}
    }
}