.faq{
    display:grid;
    grid-template-columns:1fr 3fr;
    padding:5vh 5vw;
}

.faq .info{
    box-shadow: 0 4px 8px 0 rgba(132, 132, 132, 0.2), 0 6px 20px 0 rgba(177, 177, 177, 0.19);
    width:90%;
    margin:5vh 0;
    padding:3vh 2vw;
}
.faq .info .title{
    font-size:1.5vw;
}
.faq .info .title .enhanced{
    color:teal;
}
.faq .info .paragraph{
    font-size:.9vw;
    border-top:1px grey solid;
    padding-top:1.5vh;
    margin-top:1.5vh;
}
.faq .info .paragraph img{
    width:1.25vw;
    margin-right:.5vw;
}



.faq .faq-container{
    padding-top:7.5vh;
}
.faq .faq-container .tab{
    margin-bottom:5vh;
    padding:0vh 10vw 0 0;
}
.faq .faq-container .tab .nav{
    width:100%;
    display:grid;
    grid-template-columns:5fr 1fr;
    background:#fff;
}
.faq .faq-container .tab .nav .head{
    font-weight:bold;
    font-size:1.25vw;
}
.faq .faq-container .tab .nav .nav-arrow{
    text-align:right;
    padding:0!important;
    margin:0!important;
}
.faq .faq-container .tab .nav img{
    width:1.25vw;
    float:right;
    margin:0!important;
}
.faq .faq-container .tab .content{
    font-size:1vw;
    padding:2.5vh 7.5vw 2.5vh 0;
    text-align:justify;
}