.footer{
    margin:0;
    background:none;
    padding:0;
    position:relative;
    overflow-x:hidden;
}
.footer .link{
    text-decoration:none;
    color:#fff;
}
.footer .second{
    background:teal;
    color:#fff;
    padding:15vh 10vw;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.footer .head{
    font-size:2vw;
    font-weight:bold;
    padding-top:7.5vh;
}
.footer .head img{
    width:5vw;
    margin-right:1vw;
}
.footer .about{
    padding:7.5vh 5vw 0 0;
}
.footer .about p{
    font-size:.9vw;
}

.footer .footer-content{
    font-size:.9vw;
    padding-right:4vw;
}
.footer .footer-content h4{
    margin-bottom:1vh;
    font-size:1.15vw
}
.footer .social-media span{
    margin-right:.5vw;
}
.footer .useful-link span{
    display:block;
    margin-bottom:.5vh;
}
.footer .footer-content span img{
    width:1.25vw;
    margin-right:.35vw;
}

.footer .footer-content .tab{
    margin-bottom:1.5vh;
}
.footer .footer-content .tab .head{
    font-weight:bold;
    font-size:1vw;
    margin:0;
    padding:0;
}
.footer .newsletter{
    padding:.35vh .15vw;
    background:#fff;
    /* width:30vw; */
    display:grid;
    grid-template-columns:4fr 1fr;
    border-radius:10px;
}
.footer .newsletter input{
    background:none;
    font-size:.9vw;
    padding:1vh 1vw;
    border:none;
    outline:none;
}
.footer .newsletter button{
    background:teal;
    color:#fff;
    font-size:.9vw;
    padding:1vh 1vw;
    border:none;
    outline:none;
    border-radius:10px;
}


.footer .copyright-container{
    background:teal;
    text-align:left;
    border-top:1px solid rgb(41, 181, 171);
    padding:5vh 10vw;
    color:#fff;
    display:grid;
    grid-template-columns:1fr 1fr;
}

.footer .copyright-container .logo{
    font-weight:bold;
    font-size:1.2vw;
}
.footer .copyright-container .copyright{
    text-align:right;
    font-size:1vw;
}


.footer .app-download{
    margin-top:4vh;
}